<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad">
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">{{username}}</h3>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-md-3 col-lg-3 " align="center"> <img alt="User Pic" src="{{image}}" class="img-circle img-responsive"> </div>
                <div class=" col-md-9 col-lg-9 "> 
                  <table class="table table-user-information">
                    <tbody>
                      <tr>
                        <td>First Name</td>
                        <td>{{firstName}}</td>
                      </tr>
                      <tr>
                        <td>Last Name</td>
                        <td>{{lastName}}</td>
                      </tr>
                      <tr>
                        <td>Age</td>
                        <td>{{age}}</td>
                      </tr>            
                      <tr>
                        <td>Gender</td>
                        <td>{{gender}}</td>
                      </tr>
                    </tbody>
                  </table>
                  
                  <a href="/products/bought" class="btn btn-primary">Bought Products</a>
                  <a href="/user/profile/edit" class="btn btn-warning">Edit Profile</a>
                </div>
              </div>
            </div>        
          </div>
</div>